.leader-board-page {
    text-align: center;
 }
 
 .nav-panel {
     width: 10rem;
     margin-right: -10rem;
     float: left;
 }
 
 .leader-board-content {
     display: inline-block;
 }

.login-content {
    display: inline-block;
}

.leaderboard-box {
    width: 100%;
    max-width: 590px;
    display: grid;
    margin: 0 auto;
    border: 2px solid #5171b6;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5rem;
  }