.leader-board-page {
    text-align: center;
 }
 
 .nav-panel {
     width: 10rem;
     margin-right: -10rem;
     float: left;
 }
 
 .leader-board-content {
     display: inline-block;
 }

.login-content {
    display: inline-block;
}
