.new-question-page {
    text-align: center;
 }
 
 .nav-panel {
     width: 10rem;
     margin-right: -10rem;
     float: left;
 }
 
 .new-question-content {
     display: inline-block;
 }

.login-content {
    display: inline-block;
}
